<?xml version="1.0" ?>
<model>
  <name>Fan Car Ball Castor with ArduPilot</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A Gazebo model of a fan car (board on ball castor wheels) with ArduPilot integration 
  </description>

</model>
