<?xml version="1.0" ?>
<model>
  <name>Jet Boat Proxy with ArduPilot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A Gazebo model of a jet boat (proxied as a rover) with ArduPilot integration 
  </description>

</model>
